In [3]:
# Create a DataFrame using the following data:
# Display the first two rows of the DataFrame.
# Select only the Name and Age columns.

import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, None, 35, None, 45],
        'City': ['New York', None, 'Chicago', 'Houston', 'Phoenix']})

print(df.head(2))
print(df[['Name', 'Age']])

    Name   Age      City
0  Alice  25.0  New York
1    Bob   NaN      None
      Name   Age
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0
3    David   NaN
4   Edward  45.0

In [5]:
## Data Cleaning: 
'''Create a DataFrame with missing values:
   Fill the missing Age values with the mean of the column.
   Drop any rows with missing City values.
'''
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, None, 35, None, 45],
        'City': ['New York', None, 'Chicago', 'Houston', 'Phoenix']})

print(df['Age'].fillna(df['Age'].mean()))
print(df.dropna(subset=['City']))

0    25.0
1    35.0
2    35.0
3    35.0
4    45.0
Name: Age, dtype: float64
      Name   Age      City
0    Alice  25.0  New York
2  Charlie  35.0   Chicago
3    David   NaN   Houston
4   Edward  45.0   Phoenix

In [6]:
## Data Filtering:
'''Filter all rows where Age is greater than 30.
Filter all rows where City is either "Chicago" or "Phoenix".
'''

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']})
print(df[df['Age'] > 30])
print(df[df['City'].isin(['Chicago', 'Phoenix'])])

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4   Edward   45  Phoenix
      Name  Age     City
2  Charlie   35  Chicago
4   Edward   45  Phoenix

In [ ]:
# Sort and Indexing:
''' Sort the DataFrame by Age in descending order.
Reset the index after sorting.
'''
import pandas as pd
df  = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']})

df_sorted = df.sort_values(by='Age', ascending=False)
print(df_sorted.reset_index(drop=True))

      Name  Age         City
0   Edward   45      Phoenix
1    David   40      Houston
2  Charlie   35      Chicago
3      Bob   30  Los Angeles
4    Alice   25     New York

In [3]:
"""Create a DataFrame and Group the DataFrame by the Department column and calculate the mean Age in each department.
"""
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
        'Department': ['HR', 'IT', 'IT', 'Finance', 'Finance']})

grouped_df = df.groupby('Department')['Age'].mean().reset_index()
print(grouped_df)

  Department   Age
0    Finance  42.5
1         HR  25.0
2         IT  32.5

In [7]:
"""Creating New Columns:
 Create a new column Salary_in_thousands that contains the salary in thousands (i.e., divide the Salary by 1000).
 Create a new column Age_10_years that adds 10 years to each person's Age."""

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

df['Salary_in_thousands'] = df['Salary'] / 1000
df['Age_10_years'] = df['Age'] + 10
print(df)

      Name  Age  Salary  Salary_in_thousands  Age_10_years
0    Alice   25   50000                 50.0            35
1      Bob   30   60000                 60.0            40
2  Charlie   35   70000                 70.0            45
3    David   40   80000                 80.0            50
4   Edward   45   90000                 90.0            55

In [11]:
"""Create a DataFrame from a dictionary:
  Display the entire DataFrame.
  Select only the Product and Price columns."""

data = {
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Charger'],
    'Price': [1000, 500, 300, 150, 20],
    'Stock': [50, 100, 200, 150, 300]
}

df = pd.DataFrame(data)
print("Whole data frame:\n", df)
print("Select product and price table:\n",df[['Product', 'Price']])

Whole data frame:
       Product  Price  Stock
0      Laptop   1000     50
1       Phone    500    100
2      Tablet    300    200
3  Headphones    150    150
4     Charger     20    300
Select product and price table:
       Product  Price
0      Laptop   1000
1       Phone    500
2      Tablet    300
3  Headphones    150
4     Charger     20

In [13]:
"""Filtering Data Based on Conditions:
Filter the rows where Age is less than 25.
Filter the rows where Country is 'Canada'."""

data = {
    'Name': ['Tom', 'Jerry', 'Mickey', 'Donald', 'Goofy'],
    'Age': [20, 25, 22, 30, 24],
    'Country': ['USA', 'USA', 'Canada', 'USA', 'Canada']
}
df = pd.DataFrame(data)

filtered_aga = df[df['Age']<25]
print("Filtered rows where Age is less than 25:\n", filtered_aga)

filtered_row = df[df['Country'] == 'Canada']
print("Filtered rows where Country is 'Canada':\n", filtered_row)

Filtered rows where Age is less than 25:
      Name  Age Country
0     Tom   20     USA
2  Mickey   22  Canada
4   Goofy   24  Canada
Filtered rows where Country is 'Canada':
      Name  Age Country
2  Mickey   22  Canada
4   Goofy   24  Canada

In [14]:
"""Simple Arithmetic Operations:
Add a new column called Profit, which is the difference between Sales and Expenses.
Calculate the total profit (sum of the Profit column)."""

data = {
    'Sales': [200, 450, 300, 600, 120],
    'Expenses': [100, 200, 150, 350, 80]
}

df = pd.DataFrame(data)
df['profit'] = df['Sales'] - df['Expenses']
total_profit = df['profit'].sum()
print("DataFrame with Profit column:\n", df)

DataFrame with Profit column:
    Sales  Expenses  profit
0    200       100     100
1    450       200     250
2    300       150     150
3    600       350     250
4    120        80      40

In [15]:
""" Adding and Removing Columns:
Add a new column Total that is the sum of the Math and English columns.
Remove the English column."""

data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math': [85, 90, 80, 95, 70],
    'English': [88, 92, 85, 96, 75]
}

df= pd.DataFrame(data)
df['Total'] = df['Math'] + df['English']
print("DataFrame with Total column:\n", df)
df = df.drop(columns=['English'])
print("DataFrame after removing English column:\n", df)

DataFrame with Total column:
    Student  Math  English  Total
0    Alice    85       88    173
1      Bob    90       92    182
2  Charlie    80       85    165
3    David    95       96    191
4      Eva    70       75    145
DataFrame after removing English column:
    Student  Math  Total
0    Alice    85    173
1      Bob    90    182
2  Charlie    80    165
3    David    95    191
4      Eva    70    145

In [22]:
"""Find the Maximum and Minimum:
Find the product with the highest price.
Find the product with the lowest price."""


data = {
    'Product': ['Pen', 'Pencil', 'Eraser', 'Sharpener', 'Ruler'],
    'Price': [1.5, 0.8, 0.5, 1.2, 1.0]
}

df = pd.DataFrame(data)

# Find the product with the highest price
max_price = df.loc[df['Price'].idxmax()]
print(f'Product with highest price: {max_price["Product"]} at ${max_price["Price"]}')

# Find the product with the lowest price
min_price = df.loc[df['Price'].idxmin()]
print(f'Product with lowest price: {min_price["Product"]} at ${min_price["Price"]}')

Product with highest price: Pen at $1.5
Product with lowest price: Eraser at $0.5

In [17]:
"""Sort DataFrame:
Sort the DataFrame by Score in descending order.
Sort the DataFrame by Name in alphabetical order."""


data = {
    'Name': ['Sam', 'Lily', 'Jake', 'Emily', 'Sophia'],
    'Score': [85, 90, 75, 88, 92]
}
df = pd.DataFrame(data)
df_sorted_score = df.sort_values(by='Score', ascending=False)
print("DataFrame sorted by Score in descending order:\n", df_sorted_score)
df_sorted_name = df.sort_values(by='Name')
print("DataFrame sorted by Name in alphabetical order:\n", df_sorted_name)

DataFrame sorted by Score in descending order:
      Name  Score
4  Sophia     92
1    Lily     90
3   Emily     88
0     Sam     85
2    Jake     75
DataFrame sorted by Name in alphabetical order:
      Name  Score
3   Emily     88
2    Jake     75
1    Lily     90
0     Sam     85
4  Sophia     92

In [18]:
"""Renaming Columns:
Rename the column Emp_ID to Employee_ID and Emp_Name to Employee_Name.
Display the DataFrame with the new column names."""

data = {
    'Emp_ID': [1, 2, 3, 4],
    'Emp_Name': ['John', 'Jane', 'Paul', 'Anna'],
    'Salary': [5000, 6000, 5500, 7000]
}
df = pd.DataFrame(data)
renamed_columns = df.rename(columns={'Emp_ID': 'Employee_ID', 'Emp_Name': 'Employee_Name'})
print("DataFrame with renamed columns:\n", renamed_columns)

DataFrame with renamed columns:
    Employee_ID Employee_Name  Salary
0            1          John    5000
1            2          Jane    6000
2            3          Paul    5500
3            4          Anna    7000

In [19]:
"""Working with Date Columns:
Convert the Date column to datetime format.
Extract the year and month from the Date column and create new columns Year and Month."""

data = {
    'Date': ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01'],
    'Sales': [200, 300, 250, 400, 350]
}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
print("DataFrame with Year and Month columns:\n", df)

DataFrame with Year and Month columns:
         Date  Sales  Year  Month
0 2023-01-01    200  2023      1
1 2023-02-01    300  2023      2
2 2023-03-01    250  2023      3
3 2023-04-01    400  2023      4
4 2023-05-01    350  2023      5

In [23]:
"""Value Counts:
Count how many times each Name appears in the Name column.
Count how many times each Age appears in the Age column."""

data = {
    'Name': ['Tom', 'Jerry', 'Mickey', 'Donald', 'Goofy', 'Tom', 'Jerry'],
    'Age': [20, 25, 22, 30, 24, 20, 25]
}

df = pd.DataFrame(data)
Count_name = df['Name'].value_counts()
print(Count_name)

Count_age = df['Age'].value_counts()
print(Count_age)

Name
Tom       2
Jerry     2
Mickey    1
Donald    1
Goofy     1
Name: count, dtype: int64
Age
20    2
25    2
22    1
30    1
24    1
Name: count, dtype: int64