## Pandas
  Pandas is a Python library used for working with data sets.It has functions for analyzing, cleaning, exploring, and manipulating data.

## Key Structures:
    series
    DataFrame

In [3]:
#A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type


import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

# With the index argument, you can name your own labels.
myvar = pd.Series(a, index=["x", "y", "z"])
print(myvar)

0    1
1    7
2    2
dtype: int64
x    1
y    7
z    2
dtype: int64

In [4]:
# DataFrame: A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.


df = pd.DataFrame({"names": ["Ali", "Ahmad", "Sara", "Zara"],
                   "ages": [24, 13, 53, 33]})
print(df)

   names  ages
0    Ali    24
1  Ahmad    13
2   Sara    53
3   Zara    33

In [ ]:
## Read Data from a CSV file

df = pd.read_csv("data/industry.csv")
print(df)

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

                    Industry
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other

In [ ]:
df.head()  # Display the first 5 rows of the DataFrame

In [8]:
df.tail()  # Display the last 5 rows of the DataFrame

                    Industry
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other

In [9]:
df.info()  # Display a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Industry  43 non-null     object
dtypes: object(1)
memory usage: 476.0+ bytes